<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Minimal example</title>
    <style type="text/css">
        body {
            color: #5d5d5d;
            font-family: Helvetica, Arial, sans-serif;
        }

        h1 {
            font-size: 30px;
            margin: auto;
            margin-top: 50px;
        }

        .container {
            max-width: 800px;
            margin: auto;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="../static/js/jquery.mapael.js" charset="utf-8"></script>
    <script src="../static/js/united_kingdom.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            $(".mapcontainer").mapael({
                map: {
                    // Set the name of the map to display
                    name: "united_kingdom"
                }
            });
            var svg = d3.select("svg");
            $.ajax({
        url:'/api/map-points/',
            type:'GET',
            data:{'year':'2016'},
            success: function(data)
            {
                var data = JSON.parse(data);
                svg.selectAll('circle').data(data.coords).enter().append('circle').attr('cx',function(d) { return d[0];}).attr('cy',function(d) { return d[1];}).attr('r','0').attr('fill',function(d) {if (d[3]=='Male'){return "#00aeef";} else {return "#8dc63f";}}).attr('stroke',function(d) {if (d[3]=='Male'){return "navy";} else {return "olive";}}).transition().delay(function(d,i){ return 100*i; }).duration(500).attr('r','10').transition().delay(function(d,i){ return 100*i; }).duration(100).attr('r','5');
                svg.append('circle').attr('fill','#00aeef').attr('stroke','navy').attr('r','5').attr('cx','40').attr('cy','1166');
                svg.append('circle').attr('fill','#8dc63f').attr('stroke','olive').attr('r','5').attr('cx','40').attr('cy','1204');
                svg.append('text').text('LEGEND').attr('x','83').attr('y','1140');
                svg.append('text').text('Male Customers').attr('x','60').attr('y','1171');
                svg.append('text').text('Female Customers').attr('x','60').attr('y','1210');
                svg.append('rect').attr('x','10').attr('y','1105').attr('width','235').attr('height','150').attr('fill','none').attr('stroke','black');
        }
        });
        
        });

        
    </script>
    </head>

<body>
<div class="container">

    <h1>United Kingdom</h1>

    <div class="mapcontainer">
        <div class="map">
            <span></span>
        </div>
    </div>

    <p></p>

</div>

<script type="text/javascript">


</script>
</body>
</html>
