<html>
    <head>
        <title>GA Analytics</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
        <script src="//d3js.org/d3.v4.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
        <script src="../static/js/jquery.mapael.js" charset="utf-8"></script>
        <script src="../static/js/united_kingdom.js" charset="utf-8"></script>
        <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
    </head>

    <body>
       <script src="/static/js/welcome.js"></script>
    </body>

</html>
    
